# =========================
# Java / Spring Boot
# =========================

# Compiled files
*.class
*.war
*.jar

# Maven
target/
.mvn/
mvnw
mvnw.cmd

# Gradle (if ever used)
build/

# IDEs
.idea/
*.iml
*.ipr
*.iws
.vscode/
*.swp
*.project
*.classpath
*.settings/

# Logs
*.log
logs/
spring.log

# OS generated
.DS_Store
Thumbs.db


/backend/uploads/



# =========================
# Angular / Frontend
# =========================

# Dependencies
node_modules/
jspm_packages/

# Build output
dist/
tmp/
out-tsc/

# Angular build cache
.angular/

# Environment files (if secrets stored there)
src/environments/environment*.ts


# =========================
# General
# =========================

# Coverage reports
coverage/
lcov-report/

# Temporary / backup files
*.tmp
*.bak
*.cache
*.pid
*.seed
*.zip
*.tar.gz
*.rar
