<!-- src/app/shared/navabr/navbar.component.html -->
<mat-toolbar color="primary">
  <a mat-button routerLink="/">01Blog</a>

  <span class="spacer"></span>

  <ng-container *ngIf="!isAuthPage">
    <button *ngIf="!loggedIn" mat-button routerLink="/auth/login">Login</button>
    <button *ngIf="!loggedIn" mat-button routerLink="/auth/signup">Sign Up</button>

    <ng-container *ngIf="loggedIn">
      <button mat-button routerLink="/feed">Feed</button>
      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
        {{ userName || 'Account' }}
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          Logout
        </button>
      </mat-menu>
    </ng-container>
  </ng-container>
</mat-toolbar>
