<!-- src/app/shared/navabr/navbar.component.html -->
<mat-sidenav-container class="sidenav-container">
  <!-- Sidebar -->
  <mat-sidenav #sidenav mode="side" class="sidenav" fixedInViewport *ngIf="loggedIn">
    <mat-toolbar color="primary" class="sidenav-header">
      01Blog
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item *ngFor="let item of navItems" [routerLink]="item.route" routerLinkActive="active">
        <mat-icon matListIcon>{{ item.icon }}</mat-icon>
        <span matLine>{{ item.label }}</span>
      </a>

    </mat-nav-list>
  </mat-sidenav>

  <!-- Main content -->
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="top-toolbar">
      <button *ngIf="loggedIn" mat-icon-button (click)="sidenav.toggle()" class="menu-icon">
        <mat-icon>menu</mat-icon>
      </button>

      <a class="toolbar-title" routerLink="/">01Blog</a>

      <span class="spacer"></span>

      <ng-container *ngIf="!isAuthPage">
        <ng-container *ngIf="!loggedIn">
          <button mat-button routerLink="/auth/login">Login</button>
          <button mat-button routerLink="/auth/signup">Sign Up</button>
        </ng-container>

        <!-- Navbar toolbar snippet -->
        <ng-container *ngIf="loggedIn">
          <button mat-raised-button color="accent" routerLink="/post/create" class="create-btn">
            <mat-icon>edit</mat-icon>
            Create Post
          </button>
          <button mat-button [matMenuTriggerFor]="menu" class="user-menu-btn">
            <img *ngIf="avatarUrl; else defaultIcon" [src]="avatarUrl" class="avatar-icon" alt="User Avatar" width="32"
              height="32" />
            <ng-template #defaultIcon>
              <mat-icon>account_circle</mat-icon>
            </ng-template>
            {{ userName || 'Account' }}
          </button>
          <mat-menu #menu="matMenu">

            <button mat-menu-item (click)="goToMyProfile()">
              <mat-icon>account_circle</mat-icon>
              See Profile
            </button>
            <button mat-menu-item *ngIf="isAdmin" routerLink="/admin/dashboard">
              <mat-icon>dashboard</mat-icon>
              Dashboard
            </button>
            <button mat-menu-item *ngIf="isAdmin" routerLink="/admin/users">
              <mat-icon>group</mat-icon>
              Users
            </button>

            <button mat-menu-item (click)="logout()">
              <mat-icon>logout</mat-icon>
              Logout
            </button>
          </mat-menu>
        </ng-container>

      </ng-container>
    </mat-toolbar>

    <!-- Page content -->
    <div class="page-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>