.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #000;
  padding: 1rem;

  .login-card {
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    background-color: #fff;
    color: #000;

    h2 {
      text-align: center;
      margin-bottom: 1rem;
    }

    .full-width {
      width: 100%;
      margin-bottom: 1rem;
    }

    button {
      margin-top: 1rem;
    }

    p {
      text-align: center;
      margin-top: 1rem;
      a {
        color: #000;
        font-weight: bold;
        text-decoration: underline;
      }
    }
  }
}
