@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
  margin: 0;
  padding: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: #f5f5f5;
}

app-root {
  display: flex;
  flex-direction: column;
  height: 100vh;

  router-outlet + * {
    flex: 1;
    overflow-y: auto;
  }
}
.snack-success { background: #2e7d32; color: #fff; }
.snack-error { background: #c62828; color: #fff; }